*
{
    margin: 0;
    font-size: 18px;
    /*font-family: 'Roboto', sans-serif;*/
}
#top-nav
{
    background-color: #fff;
    opacity: 1;
    text-align: center;
    box-sizing: border-box;
}

#top-nav span
{
    font-size: 18px;
    color: black;    
}

#info-icon
{
    margin: 0;
}

#social-icon
{
    padding-right: 30px;
    margin: 0;
}

#top-nav li
{
    display: inline-block;
    font-size: 18px;
    margin: 0px 5px;
    padding: 7px 0px;
}

#top-nav li i
{
    color: #eb3147;
    font-size: 18px;
}

#bottom-nav
{
    background-color: black;
    border: none;
    border-radius: 0;
    opacity: 0.8;
    margin: 0;
}

#bottom-nav ul li a
{
    font-size: 20px;
    margin: 10px;
    color: white;
}

#bottom-nav ul li a:hover
{
    color: #eb3147;
}

#header
{
    background-image: url(../image/pizza2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
}

#header #main-header
{
    position: relative;
    width: 65%;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#header #main-header h1
{
    text-align: center;
    font-family: "Pacifico";
    font-size: 50px;
    color: white;
}

#header #main-header p
{
    font-size: 18px;
    font-weight: 800;
    color: white;
    line-height: 30px;
}

#logo
{
    position: absolute;
    top: 0;
    left: 80px;
    height: 140px;
    width: 150px;    
}

#logo img
{
    height: 100%;
    width: 100%;
}

#about
{
    padding: 150px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    
}

#about figure
{
    width: 400px;
    height: 300px;
    position: relative;
    margin-left: 0px;
    
}

#about #place1
{
    width: 100%;
    height: 100%;
    transform: rotate(-10deg);
    padding-left: 0px;
    border: 8px solid white;
    box-shadow: 0px 0px 8px 3px black;
}

#about #place2
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 25px;
    border: 8px solid white;
    box-shadow: 0px 0px 8px 3px black;
}

#about h2
{
    font-family: "Pacifico";
    margin-top: 20px;
    margin-bottom: 35px;
}

#about p
{
    font-size: 20px;
}

#features
{
    background-image: linear-gradient(to bottom, rgba(70, 50, 50, 0.6), rgba(70, 50, 50, 0.6)), url(../image/wałek.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 150px 0;
    background-repeat: no-repeat;
}

.main_features_content
{
    background: url("../image/hamburger.jpg") right no-repeat;
    background-size: 55% 100%;
    min-height: 460px;
    overflow: hidden;
    opacity: 0.8;
    margin-right: 20px;
}

.single_features_text
{
    background-color: aliceblue;
    min-height: 400px;
    margin-top: 30px;
    padding: 30px 40px;
}

.single_features_text h2
{
    font-family: "Pacifico";
    margin-bottom: 30px;
}

.single_features_text p
{
    font-size: 16px;
    padding-bottom: 10px;
}

#food
{
    margin: 100px 0px;  
    
}

#food .figure-container
{
    position: relative;
    height: 270px;
    overflow: hidden;
    padding: 0;
}

#food .single-food
{
    padding: 0;
}


#food img
{
    width: 100%;
    height: 100%;
}

#food figure .mask
{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .6s;
    
}

#food figure .mask h3
{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 40px;
}

#food figure .mask h4
{
    padding-top: 0px;
    margin: 0;
    font-size: 40px;
    color: white;
    text-align: center;
}

#food .mask:hover
{
    top: -50%;
}

#food figure:hover .mask
{
    top: 50%;
}

#food h2, #menu h2
{
    font-family: "Pacifico";
    text-align: center;
    font-size: 40px;
    margin-bottom: 60px;  
}

#menu
{
    background-image: linear-gradient(to bottom, rgba(46, 46, 39, 0.5), rgba(34, 34, 38, 0.5)), url(../image/wood-2142217_1280.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 1000px;
    padding-top: 60px;
}

.pakeg-one
{
    margin-bottom: 80px;
    background: url(../image/szampan.jpg) left;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    min-height: 460px;
    overflow: hidden;
}

.content-text
{
    background-color: white;
    min-height: 400px;
    margin: 30px 40px;
    padding: 30px 30px;
    width: 450px;
}

.content-text h4
{
    font-family: "Pacifico";
    font-size: 30px;
    
}

.link-button
{
    background-color: #eb3147;
    color: black;
    padding: 10px 20px;
    border: 1px solid #eb3147;
    border-radius: 5px;
}

.pakeg-one .content-text ul
{
    padding-left: 10px;
}

.pakeg-one .content-text ul li
{
    background-size: 25%;
    padding: 15px 0px;
    text-decoration: none;
    list-style: none;
}

.pakeg-one:nth-of-type(2)
{
    background: url(../image/kurczak.jpg) no-repeat right;
    background-size: 60% 100%;
    min-height: 460px;
    overflow: hidden;
}

.pakeg-one:nth-of-type(3)
{
    background: url(../image/ciasto2.jpg) no-repeat left;
    background-size: 60% 100%;
    min-height: 460px;
    overflow: hidden;
}

#phone-app
{
    background-image:linear-gradient(to bottom, rgba(32, 30, 34, 0.6), rgba(32, 30, 34, 0.6)), url(../image/pizza1.jpg);
    padding: 100px 0px;
}

#phone-app h2
{
    color: white;
    font-size: 80px;
}

#phone-app h3
{
    font-family: "Pacifico";
    color: white;
    font-size: 25px;
    margin-top: 120px;
}

#phone-app p
{
    color: white;
    font-size: 28px;
    text-transform: uppercase;
}

#phone-app .download
{
    margin-top: 25px;
    width: 240px;
    height: 80px;
    border: 1px solid white;
    border-radius: 15px;
}

#phone-app .download:nth-of-type(2)
{
    margin-left: 30px;
}

#footer
{
    background-color: #101010;
    padding-top: 50px;
}

#footer address,#footer .open
{
    font-size: 16px;
    color: white;
    
}

#footer h2
{
    color: white;
    font-family: "Pacifico";
    font-size: 22px;
    margin-bottom: 20px;
}

#footer .fb
{
    margin-left: auto;
}

#footer .footer
{
    margin-top: 50px;
    background-color: black;
    padding: 20px 100px
}







